html {
	height: 100%;
}
body {
	background-color: hsl(0, 0%, 95%);
	height: 100%;
	color: hsla(0, 0%, 100%, 0.75);
	font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.grid-container {
	display: grid;
	/*grid-template-rows: 15rem;*/
	grid-template-columns: repeat(3, 20%);
	/*text-align: center;
	border-radius: 13px;
	margin: 2rem;*/
	justify-content: center;
	align-content: center;
	height: 100%;
}

.sedans {
	background-color: hsl(31, 77%, 52%);
	border-color:hsl(31, 77%, 52%);
	border-radius: 10px 0px 0px 10px;
	/*display: grid;
	grid-template-rows: repeat(3, auto);*/
}
.suvs {
	/*grid-area: U;*/
	background-color: hsl(184, 100%, 22%);
	border-color: hsl(184, 100%, 22%);
	/*display: grid;
	grid-template-rows: repeat(3, auto);*/
}
.luxury {
	/*grid-area: L;*/
	background-color: hsl(179, 100%, 13%);
	border-color: hsl(179, 100%, 13%);
	border-radius: 0px 10px 10px 0px;
	/*display: grid;
	grid-template-rows: repeat(3, auto);*/   
}

article {
	padding: 2rem;
}

p {
	font-family: 'Lexend Deca';
	font-size: 0.75rem;
	font-weight: 400;
	margin-bottom: 3rem;
}

.button {
	background-color: hsl(0, 0%, 95%) ;
	border: solid; 
	border-radius: 50px;
	border-color:inherit;
	color: inherit;
	padding: 0.5rem 1rem;
}

.button:hover {
	background-color: inherit;
	border:solid;
	border-color:hsl(0, 0%, 95%) ;
	border-radius: 50px;
	color:inherit; 
	cursor: pointer;
}


.sedans button {
	color: hsl(31, 77%, 52%)
}
.suvs button {
	color:hsl(184, 100%, 22%);
}
.luxury button {
	color:hsl(179, 100%, 13%);
}

h1 {
	font-family: 'Big Shoulders Display';
	font-weight: 700;
	font-size:2rem;	
	text-transform: uppercase;
}

/*Cambios a la apariencia de telefono*/

@media (max-width: 375px) {
	.grid-container {
		grid-template-columns: 90%;
		grid-template-rows: repeat(3, auto);
		height: auto;
		margin-top:4rem;
		margin-bottom: 2rem;
	}
	.atributtion {
		margin-bottom: 2rem;
	}

	.sedans {
		border-radius: 10px 10px 0px 0px;
	}

	.luxury {
		border-radius: 0px 0px 10px 10px;
	}
}
